<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/images/logo.svg" width="60">
    </a>
    <div class="navbar-toggler" (click)="toggleCollapse()">
      <i class="fas fa-bars fa-2x"></i>
    </div>

    <div class="navbar-collapse" [ngClass]="{ 'collapse': isCollapsed }">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/skills">Skills</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>