<div class="container">
  <h1>Skills</h1>
  <hr>
  <p>As a Full-Stack Developer, I have over {{ yearsExp }} years of experience working on the Frontend, Backend, and Hosting Environments. Below are some of my most frequently used web-skills.</p>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let skill of skills">
      <div class="card border-dark text-center skill-card">
        <div class="card-body">
          <i class="icon {{ skill.icon }}"></i>
        </div>
        <div class="card-footer">
          {{ skill.title }}
        </div>
      </div>
    </div>
  </div>
</div>