<div class="container">
  <h1>Contact</h1>
  <hr>
  <div class="row">
    <div class="col-md-7 col-lg-8">
      <p>Ready to get started on a project? I'm always interested in talking to other creatives and working on new challenges. Feel free to drop me a line or two.</p>
      <form *ngIf="!msgSent" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" [(ngModel)]="contact.name" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" [(ngModel)]="contact.email" required>
        </div>
        <div class="form-group">
          <label for="phone">Phone <small class="text-muted">(optional)</small></label>
          <input type="tel" id="phone" name="phone" class="form-control" [(ngModel)]="contact.phone">
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea id="message" name="message" class="form-control" rows="7" [(ngModel)]="contact.message" required></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-lg btn-success" [attr.disabled]="msgSending ? 'disabled' : null">
            <span *ngIf="msgSending">
                <i class="fas fa-fw fa-spinner fa-pulse"></i> Sending Message
            </span>
            <span *ngIf="!msgSending">
              <i class="far fa-fw fa-envelope"></i> Send Message
            </span>
          </button>
        </div>
      </form>
      <div class="alert alert-success" *ngIf="msgSent">
        <p><strong>Your Message Has Been Sent!</strong></p>
        <p>Thank you for getting in touch with me! I will get back to you as soon as I can.</p>
      </div>
    </div>
    <div class="col-md-5 col-lg-4">
      <div class="card">
        <div class="card-header">Contact Info</div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li>
              <a href="mailto:todd@toddgoates.com" class="text-info">
                <i class="far fa-fw fa-envelope"></i> todd@toddgoates.com
              </a>
            </li>
            <li>
              <a href="tel:18013199420" class="text-info">
                <i class="fas fa-fw fa-phone"></i> 801.319.9420
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/toddgoates/" target="_blank" class="text-info linkedin">
                <i class="fab fa-fw fa-linkedin"></i> LinkedIn
              </a>
            </li>
            <li>
              <a href="https://github.com/toddgoates" target="_blank" class="text-info github">
                <i class="fab fa-fw fa-github-square"></i> GitHub
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>