<div class="container">
  <h1>Projects</h1>
  <hr />
  <div class="row">
    <div class="col-lg-6" *ngFor="let project of projects">
      <div class="card">
        <a href="{{ project.link }}" target="_blank">
          <img src="/assets/images/projects/{{ project.image }}" class="card-img-top" />
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ project.name }}</h5>
          <p class="card-text">{{ project.description }}</p>
          <p class="card-text"><strong>Technologies Used:</strong></p>
          <span class="badge badge-secondary" *ngFor="let tech of project.technologies">
            {{ tech }}
          </span>
          <hr />
          <a href="{{ project.link }}" target="_blank" class="btn btn-success">
            <i class="fas fa-share-square"></i>
            <span>{{ project.githubLink ? "View Code" : "View Site" }}</span>
          </a>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
