.bg-custom {
    background-image: url('/assets/images/mountains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    height: 700px;
    margin-bottom: 0;
    text-align: center;
}